#background-video{
    min-height: 100%;
    min-width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed; 
}
#log{
    justify-content: center;
}
#logo{
    justify-content: center;
    position: absolute;
    max-width: 35%;
    margin-top: 10%;
}
#register{
    justify-content: center;
    position: absolute;
    max-width: 35%;
    margin-top: 20%;
}
.button {
    border-radius: 4px;
    background: linear-gradient(#006da0d0, #006594d0, #002a3dd0);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 100%;
    padding: 4%;
    width: 40%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5%;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}  
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.menu{
    width: 2.7rem;
    height: 3rem;
    background:  #006594d0;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 0 0 0;
    font-size: 2rem;
    color: #FFFFFF;
    text-align: left;
    transition: left 0.4s;
}
.checkbox:checked ~ .menu{
    left: 20%;
    border-radius: 0 0.5rem 0.5rem 0;
}
.left-panel{
    position: absolute;
    width: 20%;
    height: 100%;
    background: linear-gradient(#006da0d0, #006594d0, #002a3dd0);
    top: 0;
    left: -20%;
    display: flex;
    transition: left 0.4s;
}
.checkbox:checked ~ .left-panel{
    left: 0;
}
.checkbox{
    display: none;
}
#faq-h2{
    text-align: center;
    color: #FFFFFF;
    margin: 50% 0 20% 0;
}